In [20]:
import statsmodels.api as sm
import pandas as pd
from patsy import dmatrices

In [44]:
#dataset-house price prediction dataset
df = pd.read_csv('train.csv')
cars=['MSSubClass','OverallQual','OverallCond','YearBuilt','YearRemodAdd','TotalBsmtSF','SalePrice']
df=df[cars]
df[-5:]
df.tail(5)
df

      MSSubClass  OverallQual  ...  TotalBsmtSF  SalePrice
0             60            7  ...          856     208500
1             20            6  ...         1262     181500
2             60            7  ...          920     223500
3             70            7  ...          756     140000
4             60            8  ...         1145     250000
...          ...          ...  ...          ...        ...
1455          60            6  ...          953     175000
1456          20            6  ...         1542     210000
1457          70            7  ...         1152     266500
1458          20            5  ...         1078     142125
1459          20            5  ...         1256     147500

[1460 rows x 7 columns]

In [45]:
# count null values
df.isnull().sum()
df.tail(5)

      MSSubClass  OverallQual  ...  TotalBsmtSF  SalePrice
1455          60            6  ...          953     175000
1456          20            6  ...         1542     210000
1457          70            7  ...         1152     266500
1458          20            5  ...         1078     142125
1459          20            5  ...         1256     147500

[5 rows x 7 columns]

In [47]:
#Statsmodel
y, X = dmatrices('SalePrice ~ OverallQual + OverallCond + YearBuilt + YearRemodAdd + TotalBsmtSF', data=df, return_type='dataframe')

In [48]:
print(y)
print(X)

      SalePrice
0      208500.0
1      181500.0
2      223500.0
3      140000.0
4      250000.0
...         ...
1455   175000.0
1456   210000.0
1457   266500.0
1458   142125.0
1459   147500.0

[1460 rows x 1 columns]
      Intercept  OverallQual  OverallCond  YearBuilt  YearRemodAdd  TotalBsmtSF
0           1.0          7.0          5.0     2003.0        2003.0        856.0
1           1.0          6.0          8.0     1976.0        1976.0       1262.0
2           1.0          7.0          5.0     2001.0        2002.0        920.0
3           1.0          7.0          5.0     1915.0        1970.0        756.0
4           1.0          8.0          5.0     2000.0        2000.0       1145.0
...         ...          ...          ...        ...           ...          ...
1455        1.0          6.0          5.0     1999.0        2000.0        953.0
1456        1.0          6.0          6.0     1978.0        1988.0       1542.0
1457        1.0          7.0          9.0     1941.0        2006.0       1152.0
1458        1.0          5.0          6.0     1950.0        1996.0       1078.0
1459        1.0          5.0          6.0     1965.0        1965.0       1256.0

[1460 rows x 6 columns]

In [49]:
#model
model=sm.OLS(y,X)
res=model.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.685
Model:                            OLS   Adj. R-squared:                  0.684
Method:                 Least Squares   F-statistic:                     631.6
Date:                Fri, 27 Jan 2023   Prob (F-statistic):               0.00
Time:                        09:26:36   Log-Likelihood:                -17701.
No. Observations:                1460   AIC:                         3.541e+04
Df Residuals:                    1454   BIC:                         3.545e+04
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept    -9.602e+05   1.38e+05     -6.981      0.000   -1.23e+06    -6.9e+05
OverallQual   3.317e+04   1198.967     27.665      0.000    3.08e+04    3.55e+04
OverallCond   2639.2266   1242.401      2.124      0.034     202.138    5076.316
YearBuilt      153.5656     60.045      2.558      0.011      35.782     271.349
YearRemodAdd   287.5110     79.955      3.596      0.000     130.672     444.350
TotalBsmtSF     47.9430      3.205     14.957      0.000      41.655      54.231
==============================================================================
Omnibus:                      564.214   Durbin-Watson:                   1.985
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            13404.797
Skew:                           1.243   Prob(JB):                         0.00
Kurtosis:                      17.635   Cond. No.                     3.52e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.52e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [50]:
res.params

Intercept      -960187.804003
OverallQual      33169.033062
OverallCond       2639.226632
YearBuilt          153.565640
YearRemodAdd       287.510953
TotalBsmtSF         47.943035
dtype: float64

In [56]:
import matplotlib.pyplot as plt
sm.graphics.plot_partregress('SalePrice', 'TotalBsmtSF', ['YearBuilt', 'OverallQual'],data=df, obs_labels=False)

ModuleNotFoundError: No module named 'matplotlib'